html { 
    background: url(./Images/Sanary.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    background-color: transparent;    
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
}
    
main {
    background-color: transparent;
    height: auto;
}

header > h1 {
    width: auto;
    vertical-align: center;
    margin: 1px auto;
    border-radius: 5px;
    font-family: Garamond;
    background-color: azure;
    border: 1px solid rgb(68, 80, 92);
    text-align: center;
    padding: 0px 25px 0px;
}
    
header > h2 {
    font-family: Apple Chancery, cursive;
    background-color: rgb(251, 253, 242);
    text-align: center;
}    
    
header > h3 {
    width: 60%;
    margin: 1% auto;
    font-style: italic;
    font-size: 1em;
    align-self: center;
    background-color: antiquewhite;
    border: 2px solid rgb(68, 80, 92);
}   
       
h3 {
    font-size: 1em
}

h4 {
    width: 200px;
    font-size: 130%;
    text-align: center;
    vertical-align: center;
    margin: 15px auto;
    font-family: Abel;
    background-color: silver;
    border: 1px solid black;
    text-align: center;
    padding: 2px 5px 2px;
    border-radius: 5px;
}

h5 {
    width: 380px;
    margin: 1px;
    border-radius: 5px;
    font-family: Garamond;
    font-size: 200%;
    background-color: silver;
    border: 1px solid rgb(36, 43, 49);
    color: black;
    text-align: center;
    padding: 0px 25px 0px;
}  
    
.head-container {
    display: grid;
    width: 425px;
    border-radius: 5px;
    margin: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    background-color: silver;
    border: 1px solid black;
}

#status {
margin: 0px;
}

#mapLink {
margin: auto;
}

a:link {
    color: black;
}

.main-container {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: auto;
    grid-gap: 5px 5px;
}

button {
    width: 200px;
    margin: 5px auto;
    font-family: Garamond;
    font-size: 100%;
    background-color: azure;
    border-radius: 5px;
  } 
   
article {
    margin: 2px auto;
    width: 97%;
    background: transparent;
    font-family: Garamond;
    font-size: 110%;
    padding: 1%;
}
  
/* Grid positioning of widgets - small screens */
#calculator {
    grid-row: 1 / 2;
    grid-column: 1 / 2; 
    align-self: right;
}

#clock {
    grid-row: 2 / 3;
    grid-column: 1 / 2; 
}

#calendar {
    grid-row: 3 / 4;
    grid-column: 1 / 2; 
}

#todo-list {
    grid-row: 4 / 5;
    grid-column: 1 / 2; 
}  

.click-game {
    grid-row: 5 / 6;
    grid-column: 1 / 2;  
}

#grayback {
    grid-row: 5 / 6;
    grid-column: 1 / 2;  
}

/* Grid positioning of widgets - medium screens */
@media (min-width: 905px) {

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 5px;
    } 

    #clock {
        grid-column: 3 / 4; 
        grid-row: 1 / 2;
    }    
   
    #calendar {
        grid-row: 2 / 3;
    }

    #todo-list {
        margin: auto;
        width: 440px;
        grid-row: 2 / 3;
        grid-column: 3 / 4; 
    }   
      
    .click-game {
        grid-row: 3 / 4;
        grid-column: 1 / 2;  
    }

    #grayback {
        grid-row: 3 / 4;
        grid-column: 1 / 2;  
    }
} 

/* Grid positioning of widgets - large screens */
 @media (min-width: 1300px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px 5px;
    } 

    .click-game {
        grid-row: 2 / 3;
        grid-column: 2 / 3;  
    }
    
    #grayback {
        grid-row: 2 / 3;
        grid-column: 2 / 3;  
    }
} 

/* Click-game begins */
#grayback {
    background: linear-gradient(360deg, rgb(97, 177, 226) 0%, rgba(221, 248, 250, 0.4) 100%);
    background-color: gray;
    width: 440px;
    height: 270px;
    margin-top: 10px; 
    z-index: -2;
} 

.click-game {
    width: 440px;
    height: 270px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    border-radius: 3px;
    border: 2px solid rgb(68, 68, 68);
}
  
  .title {
    width: 300px;
    color: inherit;
    font-weight: bold;
    text-align: center;
    color: rgb(19, 17, 17);
    margin-top: 0px;
    margin-bottom: 5px; 
}
  
  .counter {
   font-size: 2rem;
   font-weight: bold;
   color: rgb(12, 87, 173);
}
  
  .button {
    font-size: 1rem;
    width: 70px;
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
    margin-top: 11rem;
    background: rgb(184, 208, 224) 1%;
}
  
  .overlay {
    position: absolute;
    width: 440px;
    height: 270px;
    display: none;
    z-index: -1;
    opacity: 0;
    transition: all 1s; 
}
  
  .overlay .gif {
    width: 100%;
    height: 100%;
}
/* Click-game ends */

/* Calendar begins */
.flex-calendar {
    display: flex;
    width: 400px;
    margin: 0px 5px;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: silver;
    border: solid rgb(36, 43, 49);
}
  
.flex-calendar > div {
    background-color: #444;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 1px;
    padding: 10px;
    font-size: 12px;
    color: goldenrod;
}
  
 /* Calculator Begins */ 
 .Calculator {
    width: 225px;
    padding: 5px;
    border-radius: 5px;
    background-color:  silver;
    border: solid rgb(100, 76, 15);
    margin: auto;
}

.display {
    grid-column: 1 / 4;
    background-color: azure;
    border-radius: 5px;
    padding: 5px;
    font-size: 150%;
    text-align: center;
    margin: 3px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #444;
    color: goldenrod;
    border-radius: 5px;
    padding: 5px;
    font-size: 150%;
    margin: 1px;
    cursor: pointer;
}

.textview {
    width: 205px;
    margin: 3px;
    font-size: 25px;
    padding: 5px;
    border: 1px solid black;
  }
  
/*Calculator ends */
  
/* Clock begins */
.clock {
    width: 200px;
    height: 200px;
    margin: auto;
} 
  
#clock-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: silver;
}
/* Clock ends */

/* To Do List begins */ 
.todo-container {
    height: auto;
	display: grid;
	grid-template-columns: 50px auto;
  	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:
		"firstcheckbox firsttodos"
		"secondcheckbox secondtodos"
        "thirdcheckbox thirdtodos"
        "fourthcheckbox fourthtodos"
        "fifthcheckbox fifthtodos"
        "sixthcheckbox sixthtodos";
	width: 380px;
	margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    border-radius: 5px;
    background: #444;
    border:1px solid #444;
}

input[type='checkbox']:checked {
    background: silver;
}

.todo-container > div {
    padding-left: 0px;
    padding-top: 10px;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid black;
    background: silver;
} 

.first-checkbox {
    grid-area: firstcheckbox;
}

.first-todos {
    grid-area: firsttodos;
    width: 325px;
}

.second-checkbox {
    grid-area: secondcheckbox;
}

.second-todos {
    grid-area: secondtodos;
    width: 325px;
}

.third-checkbox {
    grid-area: thirdcheckbox;
}

.third-todos {
    grid-area: thirdtodos;
    width: 325px;
}

.fourth-checkbox {
    grid-area: fourthcheckbox;
}

.fourth-todos {
    grid-area: fourthtodos;
    width: 325px;
}

.fifth-checkbox {
    grid-area: fifthcheckbox;
}

.fifth-todos {
    grid-area: fifthtodos;
    width: 325px;
}

.sixth-checkbox {
    grid-area: sixthcheckbox;
}

.sixth-todos {
    grid-area: sixthtodos;
    width: 325px;
}
    
footer {
    font-family: Apple Chancery, cursive;
}
/* To Do List ends */
