
header {
    background-color: #444;    
    display: grid;
    grid-template-columns: auto;   
}
    
main {
    background-color: #444;
}

.item1 { grid-area: cert; }
.item2 { grid-area: blank1; }
.item3 { grid-area: myimage; }
.item4 { grid-area: blank2; }
.item5 { grid-area: myname; }
.item6 { grid-area: mybrand; } 

.grid-container {
  display: grid;
  grid-template-areas: 
    'cert blank1 myimage blank2 blank2'
    'cert blank1 myname blank2 blank2'
    'mybrand mybrand mybrand mybrand mybrand';
  grid-template-columns: 150px auto 400px auto 150px;
  grid-template-rows: auto;
}

.grid-container > div {
    background-color: #444; 
    text-align: center;
}

h1 {
    width: auto;
    vertical-align: center;
    margin: 1px auto;
    font-family: Garamond;
    background-color: rgb(251, 253, 242);
    border: 1px solid rgb(9, 10, 10);
    text-align: center;
    padding: 2px 5px 2px;
    border-radius: 5px;

    }
    
h2 {
    font-family: Apple Chancery, cursive;
    background-color: rgb(251, 253, 242);
    font-size: 22px;
    text-align: center;
    }    
    
header > h3 {
    width: 60%;
    margin: 1% auto;
    font-style: italic;
    font-size: 1em;
    align-self: center;
    background-color: antiquewhite;
    border: 2px solid rgb(9, 10, 10);
    }   
    
.main-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

@media (min-width: 768px) {

    .experience:nth-of-type(1) {order: 1;}
    .experience:nth-of-type(2) {order: 3;}
    .experience:nth-of-type(3) {order: 5;}
    .experience:nth-of-type(4) {order: 2;}
    .experience:nth-of-type(5) {order: 4;}
    .experience:nth-of-type(6) {order: 6;}  

    .main-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }     
}
    
#profile-pic {
    width: 200px;
    height: 225px;
    border-radius: 50%;
    margin: 25px auto 1px;
    border: 2px solid rgb(34, 35, 37);
    }


#vishanti-cert {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto 1px;
    border: 2px solid rgb(34, 35, 37);
}
    
h3 {font-size: 1em
    }

article {
    margin: 2px auto;
    border: 1px solid rgb(9, 10, 10);
    width: 97%;
    background: white;
    font-family: Garamond;
    font-size: 110%;
    padding: 1%;
    }
    
    footer {
        font-family: Apple Chancery, cursive;
    }